.arrowContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 90%;
    top: 90%;
    transform-origin: 90% 90%;
    transform: translate3d(-90%, -90%, 0);
}

.arrowfirst {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrowsecond {
    animation: arrow-movement 2s 0.5s ease-in-out infinite;
}
.arrowthird {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}
.arrowforth {
    animation: arrow-movement 2s 1.5s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 65%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
